html,
body {
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: $dark-color;
  font-family: $font-family-source_sans_pro, "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  background-color: $body-background;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-header,
.main-footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.main-container {
  flex-grow: 1;
}
