$black: rgba(0, 0, 0, 1);
$dark-color: rgba(49, 49, 49, 1);
$body-background: rgba(247, 249, 252, 1);
$corporate-blue: rgba(6, 37, 91, 1);
$white: rgba(255, 255, 255, 1);

/*
$woodsmoke: rgba(14, 14, 12, 1);
$eerie-black: rgba(26, 23, 27, 1);
$headline-2: rgba(47, 48, 52, 1);
$mine-shaft: rgba(48, 48, 48, 1);
$body-text-2: rgba(74, 75, 78, 1);
$light-gray-dark: rgba(115, 123, 125, 1);
$silver-chalice: rgba(168, 172, 173, 1);
$quill-gray: rgba(212, 212, 212, 1);
$alto: rgba(217, 217, 217, 1);
$corporate-orange: rgba(218, 93, 36, 1);
$mango-tango: rgba(255, 123, 63, 1);
$mango-tango-2: rgba(255, 124, 64, 1);
*/

$font-size-s: 15px;
$font-size-m: 16px;
$font-size-l: 17px;
$font-size-xl: 18px;
$font-size-xxl: 19px;
$font-size-xxxl: 20px;
$font-size-xxxxl: 32px;

$font-family-minion_pro-mediumitalic: "Minion Pro-MediumItalic";
$font-family-mulish: "Mulish";
$font-family-roboto: "Roboto";
$font-family-source_sans_pro: "Source Sans Pro";

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
